<section>
    <div class="page-header">
        <h1>Weather Forecast</h1>
    </div>
    <div class="form-group form-inline">
        <!--<label for="usr">Location:</label>-->
        <input type="text" class="form-control" id="" placeholder="Enter your city" ng-model="city">
        <input type="text" class="form-control" id="" placeholder="Enter your country" ng-model="country">
        <button type="submit" class="btn btn-primary" ng-click="getWeather()">Get Report</button><br/>
        <!--<small id="locationHelp" class="form-text text-muted">Ex: city-name,country-name</small>-->
    </div>
    <div class="well col-md-4">
        <img src="{{url}}" /><br/>
        <span>City: {{gcity}} <br/>Region: {{gregion}} <br/> Country: {{gcountry}} <br/> Date: {{gdate}} <br/> Temperature:{{gtemp}} C </span>
    </div>
    <div class="well col-md-8">
        <canvas id="weatherChart" width="800" height="400"></canvas>
    </div>
    
</section>
