<div class="" style="margin-top:5%;">
<h2> Stock Market Data </h2> <br/><br/>
<div class="row">
<div class="col-md-12">
<div style="">
<form class="form-inline" ng-submit="stockPrice()">
  <div class="form-group">
    <label for="cmpnyName">Company Name:</label>
    <select class="form-control" id="cmpnySelect" ng-model = "cmpnySelect" ng-options="x for x in cmpnyName">{{x}}</select>
  </div>
  <div class="form-group">
    <label for="from">From:</label>
    <input type="Date" class="form-control" id="from" ng-model="from"/>
  </div>
   <div class="form-group">
    <label for="to">To:</label>
   <input type="date" class="form-control" id="to" ng-model="to"/>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
<div class="" style="margin: 5% 0">
<canvas id="myChart"></canvas>
</div>
</div>

</div>
<div class="col-md-12">
   <table class="table table-bordered">
   <tr>
	   <th>Symbol</th>
	   <th>Adj Close</th>
	   <th>Date</th>
	   <th>High</th>
	   <th>Low</th>
	   <th>Open</th>
	   <th>Close</th>
	   <th>Volume</th>
   </tr>
    <tr ng-repeat="x in stockData">  
      <td>{{x.symbol}}</td>
      <td>{{x.adjClose}}</td>
      <td>{{x.date}}</td>
      <td>{{x.high}}</td>
      <td>{{x.low}}</td>
      <td>{{x.open}}</td>
      <td>{{x.close}}</td>
      <td>{{x.volume}}</td>
    </tr>
   </table>
</div>
</div>
</div>
<div class="container">

</div>



</div>


</div>
